.gallery-wrapper-one {
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .gallery-image {
        overflow: hidden;
        display: block;
        z-index: 1;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        .item-overlay {
            position: absolute;
            top: 0px;
            background: rgba(83, 75, 27, 0.575);
            border-radius: 6px;
            width: 100%;
            height: 100%;
            opacity: 0;
            left: 0;
            visibility: hidden;
            overflow: hidden;
            -webkit-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            transition: 0.3s ease-in;

            span {
                color: #ffff;
                width: 80px;
                height: 80px;
                line-height: 84px;
                display: block;
                border-radius: 50%;
                text-align: center;
                background: var(--color-primary);
                font-size: 23px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .image-zoom-hover {
        transition: .6s;
    }

    &:hover {
        .image-zoom-hover {
            transform: scale(1.1);
        }

        .item-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

.left-contact .rts-social-style-one {
    margin-top: 40px;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        list-style: none;

        li {
            margin: 0;

            a {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: 1px solid #dfdfdf;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: var(--color-primary);
                    border: 1px solid transparent;
                    color: #fff;
                }
            }
        }
    }
}